@model List<Forum.Models.Post>
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "ListQuestions";
}

<div class="container">
    <div class="well">
        <h2>Answers</h2>

        <table class="table table-striped table-hover">
            <thead>
                
                <tr>
                    <th>Title</th>
                    <th>Author Name</th>
                    <th>Author Picture</th>
                </tr>
            </thead>

            <tbody>
                
                <tr>
                    <td>
                        @Html.ActionLink("New Topic", "CreatePost", "Post", null, new { @class = "btn btn-warning" })
                    </td>
                </tr>



                @foreach (var question in Model)
                {
                    @:
                    <tr>
                 
                        <td>@Html.ActionLink(question.Title, "ListAnswers", "Post", new { @id = question.PostId }, null)</td>
                        <td>@Html.ActionLink(question.Author.FullName, "Details", "Account", new { @id = question.Author.Id }, null)</td>
                        
                        <td>                      
                            

                              
                            @{var imgUrl = Url.Content("~/Content/images/profile/" + question.Author.UserName + ".png") + "?time=" + DateTime.Now.ToString(); }
                              


                            
                             
                          
                           

                            <object data="@imgUrl"  type="image/png"  height="25" width="25">
                                <img src="~/Content/images/Smiley.svg.png" height="25" width="25" />
                            </object>

                               
                            
                       </td>

                        <td>@Html.ActionLink("Edit", "Edit", "Post", new { @id = question.PostId }, new { @class = "btn btn-success btn-xs" })</td>
                        <td>@Html.ActionLink("Delete", "Delete", "Post", new { @id = question.PostId }, new { @class = "btn btn-danger btn-xs" })</td>

                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>