@model IEnumerable<object>
 
@{
    Forum.Models.PostViewModel post = Model.ToList()[1] as Forum.Models.PostViewModel;

    List<Forum.Models.Post> answers = Model.ToList()[0] as List<Forum.Models.Post>;

}

<div class="container" style="background-color:lightgray">
    <h2>Answers</h2>







    <br />
    @if (ViewBag.reply == 1)
    {
        using (Html.BeginForm("CreatePost", "Post", new { id = ViewBag.question.PostId, page = ViewBag.pages }, FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })

            @Html.HiddenFor(m => post.CategoryId, new { Value = ViewBag.categoryId })

            <div class="form-group">
                @Html.LabelFor(m => post.Title, new { @class = "control-label col-sm-2" })
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => post.Title, new { @class = "form-control", Style = " max-width: 980px;" })
                </div>
            </div>
                        <div class="form-group">
                            @Html.LabelFor(m => post.Content, new { @class = "control-label col-sm-2" })
                            <div class="col-sm-8">
                                @Html.TextAreaFor(m => post.Content, new { @class = "form-control", @rows = "7", Style = " max-width: 980px;" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-6 col-sm-offset-5">
                                @Html.ActionLink("Cancel", "ListQuestions", "Post", null, new { @class = "btn btn-default" })
                                <input type="submit" value="Post" class="btn btn-success" />

                            </div>
                        </div>
        }


    }

    <div class="row">

        <div class="container">
            <div class="well">
                <div class="row">
                    <div class="col-sm-3">
                        @Html.ActionLink("Comment", "ListAnswers", "Post", new { id = ViewBag.question.PostId, reply = 1, page = @ViewBag.page }, new { @class = "btn btn-warning" })
                    </div>
                    <div class="col-sm-4">
                      
                    </div>
                    <div class="col-sm-5" align="right">
                        <ul class="pagination">
                            @{
                                int prevPage = 0;
                                List<int>pagingList = ViewBag.pagingElems;
                                
                             }

                            @for (int i = 0; i < pagingList.Count(); i++)
                            {
                                prevPage = pagingList[i];

                                <li>
                                   @Html.ActionLink(pagingList[i].ToString(), "ListAnswers", "Post", new { @id =ViewBag.question.PostId, @page = pagingList[i] }, null)
                               </li>


                                if (i < pagingList.Count() - 1 && pagingList[i + 1] != pagingList[i] + 1)
                                {
                                    <li>@Html.ActionLink("...","Index","Home") </li>

                                }


                            }
                        </ul>
                       
                    </div>
                </div>
           </div>
       </div>

   </div>




            <div class="row">
                <div class="container">
                    <div class="well " style="background-color:#f5f694">



                        <div class="row">

                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h3>@ViewBag.question.Title</h3>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-sm-12">
                                        @ViewBag.question.Content
                                    </div>


                                </div>

                                <div class="row">
                                   
                                    <div class="col-sm-1">
                                        Tags
                                    </div>
                                     <div class="col-sm-11 pull-left">
                                        @foreach (var tag in ViewBag.question.Tags)
                                        {
                                            @Html.ActionLink((string)tag.Name, "List", "Tag", new { @id = tag.Id }, new { @class = "btn btn-default btn-xs" })
                                        }
                                    </div>


                                </div>


                            </div>


                            <div class="col-sm-2">


                                <div class="row " align="center">
                                    @{var imgUrlAuthor = Url.Content("~/Content/images/profile/" + @ViewBag.question.Author.UserName + ".png") + "?time=" + DateTime.Now.ToString(); }
                                    <object data="@imgUrlAuthor" type="image/png" height="50" width="50">
                                        <img src="~/Content/images/Smiley.svg.png" height="50" width="50" />
                                    </object>
                                </div>

                                <div class="row" align="center">
                                    @Html.ActionLink((string)ViewBag.question.Author.FullName, "Details", "Account", new { @id = ViewBag.question.Author.Id }, null)
                                </div>


                            </div>



                        </div>

                         

                         

                    </div>
                </div>

            </div>



            @foreach (var answer in answers)
            {

                <div class="row">
                    <div class="container">
                        <div class="well">

                             

                            <div class="row">

                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h3>@answer.Title</h3>
                                        </div>
                                    </div>
                                    <div class="row">
                                         
                                            <div class="col-sm-12">
                                                @answer.Content
                                            </div>

                                        
                                    </div>
                                </div>


                                <div class="col-sm-2">

                                    
                                    <div class="row " align="center">
                                        @{var imgUrl = Url.Content("~/Content/images/profile/" + answer.Author.UserName + ".png") + "?time=" + DateTime.Now.ToString(); }
                                        <object data="@imgUrl" type="image/png" height="50" width="50">
                                            <img src="~/Content/images/Smiley.svg.png" height="50" width="50" />
                                        </object>
                                    </div>

                                    <div class="row" align="center">
                                        @Html.ActionLink(answer.Author.FullName, "Details", "Account", new { @id = answer.Author.Id }, null)
                                    </div>


                                </div>

                               

                            </div>

                           

                        </div>
                    </div>

                </div>
            }


  </div>
